@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

body {
    font-family: 'Audiowide', cursive;
    margin-top: 300px;
    text-align: center;
}

#clock {
    font-family: 'Audiowide', cursive;
    font-weight: 350;
    font-size: 50px;
    color: teal;
}

#hex-color {
    font-family: 'Audiowide', cursive;
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 40px;
    color: teal;
}
